.logo2 {
     text-align: end;
}
.nav {
    background-color: #000;
}
.navbar {
    text-decoration: none;
    padding: 10px;
    color: white;
}

.menu {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
}

.card {
    margin-top: 40px;
}

.footer {
    background-color: #000;
    color: #fff;
    align-items: center;
    margin-top: 20px;
    padding: 30px;
    text-align: center;
  }
  
  .footer ul {
    list-style-type: none;
    padding: 0;
  }

  
  